.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8);
    z-index: 9999;

    &__content {
        @include absCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: .3rem;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.3%;
        display: table-cell;
        vertical-align: middle;
    }

    &__right {
        width: 66.6%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: .1rem solid $color-grey-dark-2;
        hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
    }
}